<!DOCTYPE html>
<html>
  <head>
    <title>Create Artist</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="create-blog content">
      <form method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="first_name" required />
        <label for="surname">Surname:</label>
        <input type="text" id="surname" name="family_name" required />
        <label for="date_of_birth">Date of birth:</label>
        <input type="date" id="date_of_birth" name="date_of_birth" required />
        <button>Submit</button>
      </form>
    </div>
  </body>
</html>
