<!DOCTYPE html>
<html>
  <head>
    <title>All Artists</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <% if (data.length > 0) { %> <% data.forEach(artist => { %>
    <a class="single" href="/artist/<%= artist._id %>">
      <h2 class="title"><%= artist.first_name %></h2>
      <p class="snippet"><%= artist.date_of_birth %></p>
    </a>
    <% }) %> <% } else { %>
    <p>There are no data to display...</p>
    <% } %>
  </body>
</html>
