<!DOCTYPE html>
<html>
  <head>
    <title><%= %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="create-blog content">
      <h1><%= data.first_name%> <%=data.family_name%></h1>
      <h2><%= data.date_of_birth%></h2>
    </div>
  </body>
</html>
