<!DOCTYPE html>
<html>
  <head>
    <title><%= data.title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="create-blog content">
      <h1><%= data.title%></h1>
      <h2><%= data.date%></h2>  
    </div>
  </body>
</html>
