<!DOCTYPE html>
<html>
  <head>
    <title>Create Artist</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="create-blog content">
      <form method="POST">
        <label for="name">Title:</label>
        <input type="text" id="name" name="title" required />
        <label for="surname">Year:</label>
        <input type="date" id="surname" name="year" required />
        <label for="artist">Artist:</label>
        <input type="text" id="artist" name="artist" required />
        <label for="artist">Genre:</label>
        <input type="text" id="genre" name="genre" required />
        <label for="artist">Artist:</label>
        <select name="artist" id="artist">
          <% data.map(artist => { %>
          <option value="Dsadas"><%= artist.name%></option>
          <%})%>
        </select>
        <button>Submit</button>
      </form>
    </div>
  </body>
</html>
